@font-face{
    src: url(Josefin_Sans/static/JosefinSans-SemiBold.ttf);
    font-family: josefin-sans;
    }
@font-face{
    src: url(Barlow/Barlow-Light.ttf);
    font-family: 'Barlow Semi Condensed';
    }
.nav-link{
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000 !important;
    font-weight: 600;
}
.login-btn{
    background-color: #1877C3;
    border: #1877C3;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
   
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    /* min-width: 10rem; */
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    border:1px solid rgba(0,0,0,.15)
}
.signup-btn{
    background-color: #1877C3;
    border: #1877C3;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
   
}
.ml9 {
    color:#1669ae;
	font-family: josefin-sans;
	text-align:center;
	font-size:45px;
	font-weight:bold;
}

.ml9 .text-wrapper {
   position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.heading{
 text-align:center;
}

.content{
	margin-top:30px;
	background-color:#ebebeb;
	border-radius: 10px;
}

.content h2 {
    padding: 30px 40px 0px 40px;
	color:#1669ae;
	font-family:josefin-sans;
	letter-spacing:5px;
	font-size:30px;
	font-weight:bold;
}

.content p {
    color: #262626;
    /*font-family: "Raleway",sans-serif;*/
    font-family: 'Barlow Semi Condensed';
    letter-spacing: 0px;
    font-size: 20px;
    text-align: justify;
    padding: 30px 40px 0px 40px;
	
}
.security{
    text-align: center;
    margin: 30px 0px 0px 0px;
}
.content h3{
    padding: 30px 12px 0px 40px;
color:#1669ae;
display:inline;
}
.contentimg{
	margin-top:30px;
	background-image: url('images/backgroundPrivacy.png');
	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	
}
.contentimg h2 {
    padding: 5px 40px 0px 40px;
	color:#1669ae;
	font-family: josefin-sans;
	letter-spacing:5px;
	font-size:30px;
	font-weight:bold;
}

.contentimg p {
    color: #262626;
    font-family: 'Barlow Semi Condensed';
    letter-spacing: 0px;
    font-size: 20px;
    text-align: justify;
    padding: 5px 40px 0px 40px;
	
}

.contentul {
  list-style: none;
}

.contentul li::before {
  content: "\2022";
  color:#1669ae;
  font-weight: bold;
  display: inline-block; 
  width: 20px;
  font-size: 35px;

}
.contentul p{
    display:inline;
    color: #262626;
    font-family: 'Barlow Semi Condensed';
    letter-spacing: 0px;
    font-size: 20px;
    text-align: justify;
    padding: 0px 40px 0px 0px;
}

.footer ul{
    list-style: none;
   padding: 0;
}
.footer-text{
    font-size: 35px;
     color: white; 
    
    
}
.footer a{
    color: white !important;
    font-size: 20px;
   
}
.dropdown-menu-large{
    width: 600px;
}
.dropdown-menu-large i{
    color: #1669ae;
}
.dropdown-menu-large .nav-link{
    font-size: 16px;
    text-align: center;
}
.facebook{
    padding: 5px 12px;
   
}
.facebook:hover{
    background-color: #3b5998;
    padding: 5px 12px;
    border-radius: 26px;
}
.instagram{
    padding: 6px 6px;
    
}
.instagram:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    padding: 6px 6px;
    border-radius: 26px;
}
.twitter{
    padding: 7px 5px;
   
}
.twitter:hover{
    background-color: #00acee;
    padding: 7px 5px;
    border-radius: 26px;
}
#offering a{
    color: black;
    font-size: 20px;
}
#collect span{
    color:#1669ae;
    font-weight: 600;
}
#cookies{
    background-image: url(../images/backgroundPrivacy.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#information span{
    color:#1669ae;
    font-weight: 600;
    font-size: 20px;
}
/*******************media queries***********************/
@media only screen  
and (min-device-width: 320px)
and (max-device-width : 640px) {
    .dropdown-menu-large {
        width: 273px;
    }
    .content h2{
        font-size: 25px;
        padding: 0;
        text-align: center;
        
    }
    .contentul p{
        padding: 0px;
    }
}
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    padding: 10px;
}
.content{
	margin-top:30px;
	background-color:#ebebeb;
	border-radius: 10px;
}
	
	
	
	.content h3{
    padding: 30px 12px 0px 40px;
    color:#1669ae;
    font-size:18px;
    display:inline;
}
.content p {
    color: #262626;
    font-family: 'Barlow Semi Condensed';
    letter-spacing: 0px;
    font-size: 16px;
    text-align: justify;
    padding: 0px;
	
}

.heading {
    color:#1669ae;
	font-family: josefin;
	text-align:center;
	font-size:45px;
	font-weight:bold;
}


.heading img{
    text-align:center;
	height: 250px;
width: 300px;

}
.contentul {
  list-style: none;
}

.contentul li::before {
  content: "\2022";
  color:#1669ae;
  font-weight: bold;
  display: inline-block; 
  width: 0px;
  font-size: 35px;

}
.contentul{
    padding: 0;
}
.contentul p{
    display:inline;
    color: #262626;
    font-family: 'Barlow Semi Condensed';
    letter-spacing: 0px;
    font-size: 20px;
    text-align: justify;
    padding: 0px 15px;
}
}